{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Our Food Items</h1>
        <div class="row">
            {% for food in foods %}
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{{ food.image.url }}" alt="{{ food.name }}" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">{{ food.name }}</h5>
                        <p class="card-text">Price: ${{ food.price }}</p>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary mr-2">Update</a>
                            <a href="{% url 'food:delete'  food.id  %}" class="btn btn-secondary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>